.topbar-appBar {
  height: 7%;
  justify-content: center;
}
.UniversalLog{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-family: "Al Nile";
  padding-top: 10px;
}
